@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General style*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style*/
    color: #3a3a3a;
    font-family: 'Dosis' , sans-serif;
}


header {
    background-color: antiquewhite;
    padding:  0 1rem;
    position:fixed;
    z-index: 90;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: black;
}
 h1{
    letter-spacing: 5px;
    color: black;
 }

 #menu{
    list-style-type: none;
    font-size: 100%;
 }
/* Dropdown toggle */

nav {
    position: absolute;
    background: antiquewhite;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display:none;
    top:100%;
}

/* Nav */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display:none;
}

#nav-toggle-label {
    font-size: 5rem;
}

/*Main content*/
main{
    background-color: lightblue;
    flex: 1 0 auto;
    margin-top: 40px;
}
/*Footer*/
#social-icons{
    text-align: center;
    padding: 15px 0;
    display: flex;  
    justify-content: space-evenly;
    list-style-type: none;
}

/*Media query: 768px and up*/
@media screen and (min-width:769px) {
    /*Header for big screens*/
    nav {
    display: block;
    position: relative;
    width: fit-content;
    padding-right: 5rem;
    }

    #menu{
        display: flex;
    }

    #menu >li {
        padding: 2rem;
    }
 .nav-toggle-label{
    display: none;
 }

 /*Main Content */
 main {
    margin-top: 82px;
 }

/*Large devices - 992px and up*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 5px solid #3a3a3a; 
    }
}

}